In [1]:
import pandas as pd
df = pd.read_excel('lotto.xlsx', index_col = 0)
df

,1등당첨자수,1등당첨금액,2등당첨자수,2등당첨금액,3등당첨자수,3등당첨금액,4등당첨자수,4등당첨금액,5등당첨자수,5등당첨금액,당첨번호1,당첨번호2,당첨번호3,당첨번호4,당첨번호5,당첨번호6,보너스번호
회차,,,,,,,,,,,,,,,,,
1008,11,"2,267,377,910원",97,"42,854,222원",2826,"1,470,935원",141072,"50,000원",2311009,"5,000원",9,11,30,31,41,44,33
1007,9,"2,718,786,375원",70,"58,259,709원",2844,"1,433,960원",137134,"50,000원",2256573,"5,000원",8,11,16,19,21,25,40
1006,9,"2,855,602,125원",65,"65,898,511원",2487,"1,722,318원",131234,"50,000원",2288458,"5,000원",8,11,15,16,17,37,36
1005,12,"2,061,199,344원",84,"49,076,175원",2798,"1,473,338원",143067,"50,000원",2349017,"5,000원",8,13,18,24,27,29,17
1004,10,"2,576,251,913원",68,"63,143,430원",2785,"1,541,743원",140047,"50,000원",2340772,"5,000원",7,15,30,37,39,44,18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5,0,0원,0,0원,42,"6,033,800원",3043,"166,500원",60434,"10,000원",16,24,29,40,41,42,3
4,0,0원,1,"211,191,200원",29,"7,282,400원",2777,"152,100원",52382,"10,000원",14,27,30,31,40,42,2
3,1,"2,000,000,000원",0,0원,139,"1,174,100원",5940,"54,900원",73256,"10,000원",11,16,19,21,27,31,30
2,1,"2,002,006,800원",2,"94,866,800원",103,"1,842,000원",3763,"100,800원",55480,"10,000원",9,13,21,25,32,42,2
1,0,0원,1,"143,934,100원",28,"5,140,500원",2537,"113,400원",40155,"10,000원",10,23,29,33,37,40,16

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1008 entries, 1008 to 1
Data columns (total 17 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   1등당첨자수  1008 non-null   int64
 1   1등당첨금액  1008 non-null   object
 2   2등당첨자수  1008 non-null   int64
 3   2등당첨금액  1008 non-null   object
 4   3등당첨자수  1008 non-null   int64
 5   3등당첨금액  1008 non-null   object
 6   4등당첨자수  1008 non-null   int64
 7   4등당첨금액  1008 non-null   object
 8   5등당첨자수  1008 non-null   int64
 9   5등당첨금액  1008 non-null   object
 10  당첨번호1   1008 non-null   int64
 11  당첨번호2   1008 non-null   int64
 12  당첨번호3   1008 non-null   int64
 13  당첨번호4   1008 non-null   int64
 14  당첨번호5   1008 non-null   int64
 15  당첨번호6   1008 non-null   int64
 16  보너스번호   1008 non-null   int64
dtypes: int64(12), object(5)
memory usage: 141.8+ KB

In [3]:
from collections import Counter

a_list = ['a', 'b', 'd', 'a', 'm']
Counter(a_list) #각각 몇개인지 세어준다

Counter({'a': 2, 'b': 1, 'd': 1, 'm': 1})

In [5]:
from collections import Counter

a_list = ['b', 'b', 'd', 'a', 'm','b']
Counter(a_list).most_common() #많은 것부터 ()개 나오게 함

[('b', 3), ('d', 1), ('a', 1), ('m', 1)]

## 로또 복권 빈도수

In [10]:
import pandas as pd
from collections import Counter

df = pd.read_excel('lotto.xlsx', index_col = 0)

num_list = list(df['당첨번호1'])
num_list += list(df['당첨번호2']) #int 아니었다면 list(df['당첨번호2'].astype(int))
num_list += list(df['당첨번호3']) # num_list에 리스트를 합치는 작업
num_list += list(df['당첨번호4'])
num_list += list(df['당첨번호5'])
num_list += list(df['당첨번호6'])

count = Counter(num_list)
most_num = count.most_common(45)
most_num.sort() # 정렬, 안하면 많이 나온 순서대로 출력된다
print(most_num)

[(1, 143), (2, 136), (3, 134), (4, 139), (5, 130), (6, 126), (7, 133), (8, 134), (9, 107), (10, 139), (11, 137), (12, 142), (13, 145), (14, 142), (15, 136), (16, 133), (17, 145), (18, 148), (19, 134), (20, 140), (21, 136), (22, 114), (23, 121), (24, 136), (25, 130), (26, 132), (27, 146), (28, 124), (29, 124), (30, 122), (31, 136), (32, 114), (33, 140), (34, 152), (35, 125), (36, 134), (37, 141), (38, 133), (39, 145), (40, 141), (41, 124), (42, 133), (43, 146), (44, 136), (45, 140)]