## Dataframe 객체 생성

In [2]:
data = {'종가':[71200, 69500, 70100, 71500, 72900, 71700],
       '전일비':['▲1700','▼600','▼1400','▼1400','▲1200','▼400'],
       '등락률(%)':[2.45, -0.86, -1.96, -1.92, 1.67, -0.55],
       '시가':[70800, 68800, 70000, 72700, 72300, 72300],
       '고가':[71200, 7000, 70600, 72700, 73100, 72400],
       '저가':[70500, 68700, 69900, 71200, 72200, 71500],
       '거래량':[21354798, 15828269, 18617138, 13409634, 13232638, 12481430]}
data

{'종가': [71200, 69500, 70100, 71500, 72900, 71700],
 '전일비': ['▲1700', '▼600', '▼1400', '▼1400', '▲1200', '▼400'],
 '등락률(%)': [2.45, -0.86, -1.96, -1.92, 1.67, -0.55],
 '시가': [70800, 68800, 70000, 72700, 72300, 72300],
 '고가': [71200, 7000, 70600, 72700, 73100, 72400],
 '저가': [70500, 68700, 69900, 71200, 72200, 71500],
 '거래량': [21354798, 15828269, 18617138, 13409634, 13232638, 12481430]}

In [6]:
import pandas as pd
df = pd.DataFrame(data)
df

      종가    전일비  등락률(%)     시가     고가     저가       거래량
0  71200  ▲1700    2.45  70800  71200  70500  21354798
1  69500   ▼600   -0.86  68800   7000  68700  15828269
2  70100  ▼1400   -1.96  70000  70600  69900  18617138
3  71500  ▼1400   -1.92  72700  72700  71200  13409634
4  72900  ▲1200    1.67  72300  73100  72200  13232638
5  71700   ▼400   -0.55  72300  72400  71500  12481430

## Index 만들기

In [8]:
df = pd.DataFrame(data, 
                index = ['2022-03-10', '2022-03-08', '2022-03-07', '2022-03-04', '2022-03-03', '2022-03-02'])
df

               종가    전일비  등락률(%)     시가     고가     저가       거래량
2022-03-10  71200  ▲1700    2.45  70800  71200  70500  21354798
2022-03-08  69500   ▼600   -0.86  68800   7000  68700  15828269
2022-03-07  70100  ▼1400   -1.96  70000  70600  69900  18617138
2022-03-04  71500  ▼1400   -1.92  72700  72700  71200  13409634
2022-03-03  72900  ▲1200    1.67  72300  73100  72200  13232638
2022-03-02  71700   ▼400   -0.55  72300  72400  71500  12481430

## DataFrame 객체 생성 (Columns 지정)

### data중에서 원하는 column만 선택하거나, 순서 변경 지정

In [10]:
df = pd.DataFrame(data,
                 index = ['2022-03-10', '2022-03-08', '2022-03-07', '2022-03-04', '2022-03-03', '2022-03-02'],
                 columns = ['종가', '거래량']) #종가와 거래량만 표시되게 한다
df

               종가       거래량
2022-03-10  71200  21354798
2022-03-08  69500  15828269
2022-03-07  70100  18617138
2022-03-04  71500  13409634
2022-03-03  72900  13232638
2022-03-02  71700  12481430

In [11]:
df = pd.DataFrame(data,
                 index = ['2022-03-10', '2022-03-08', '2022-03-07', '2022-03-04', '2022-03-03', '2022-03-02'],
                 columns = ['종가', '거래량', '전일비'])  #종가와 거래량과 전일비만 표시되게 한다
df

               종가       거래량    전일비
2022-03-10  71200  21354798  ▲1700
2022-03-08  69500  15828269   ▼600
2022-03-07  70100  18617138  ▼1400
2022-03-04  71500  13409634  ▼1400
2022-03-03  72900  13232638  ▲1200
2022-03-02  71700  12481430   ▼400

## 날짜 입력받고 해당 날짜의 주식 시세 알아보기

In [12]:
date = input("삼성주가 날짜 입력 => ") #날짜 입력받기
a = df.index.str.contains(date) #데이터 프레임의 인덱스 문자열에 원하는 문자열이 포함된 행을 찾아냄
df[a]

삼성주가 날짜 입력 => 2022-03-10

               종가       거래량    전일비
2022-03-10  71200  21354798  ▲1700

In [13]:
# 위에 종가, 거래량, 전일비만 나오는 이유는 columns가 아직 적용되어있기 때문이다.
#이것을 해제하려면 columns가 없는 상태로 다시 선언을 해주어야한다

df = pd.DataFrame(data,
                 index = ['2022-03-10', '2022-03-08', '2022-03-07', '2022-03-04', '2022-03-03', '2022-03-02'])
                
df

               종가    전일비  등락률(%)     시가     고가     저가       거래량
2022-03-10  71200  ▲1700    2.45  70800  71200  70500  21354798
2022-03-08  69500   ▼600   -0.86  68800   7000  68700  15828269
2022-03-07  70100  ▼1400   -1.96  70000  70600  69900  18617138
2022-03-04  71500  ▼1400   -1.92  72700  72700  71200  13409634
2022-03-03  72900  ▲1200    1.67  72300  73100  72200  13232638
2022-03-02  71700   ▼400   -0.55  72300  72400  71500  12481430

In [14]:
date = input("삼성주가 날짜 입력 => ") #날짜 입력받기
a = df.index.str.contains(date) #데이터 프레임의 인덱스 문자열에 원하는 문자열이 포함된 행을 찾아냄
df[a]

삼성주가 날짜 입력 => 2022-03-02

               종가   전일비  등락률(%)     시가     고가     저가       거래량
2022-03-02  71700  ▼400   -0.55  72300  72400  71500  12481430