## CSV 파일로 저장하기

In [1]:
data = {'종가':[71200, 69500, 70100, 71500, 72900, 71700],
       '전일비':['▲1700','▼600','▼1400','▼1400','▲1200','▼400'],
       '등락률(%)':[2.45, -0.86, -1.96, -1.92, 1.67, -0.55],
       '시가':[70800, 68800, 70000, 72700, 72300, 72300],
       '고가':[71200, 7000, 70600, 72700, 73100, 72400],
       '저가':[70500, 68700, 69900, 71200, 72200, 71500],
       '거래량':[21354798, 15828269, 18617138, 13409634, 13232638, 12481430]}

import pandas as pd
df = pd.DataFrame(data, 
    index = ['2022-03-10', '2022-03-08', '2022-03-07', '2022-03-04', '2022-03-03', '2022-03-02'])
df

               종가    전일비  등락률(%)     시가     고가     저가       거래량
2022-03-10  71200  ▲1700    2.45  70800  71200  70500  21354798
2022-03-08  69500   ▼600   -0.86  68800   7000  68700  15828269
2022-03-07  70100  ▼1400   -1.96  70000  70600  69900  18617138
2022-03-04  71500  ▼1400   -1.92  72700  72700  71200  13409634
2022-03-03  72900  ▲1200    1.67  72300  73100  72200  13232638
2022-03-02  71700   ▼400   -0.55  72300  72400  71500  12481430

## CSV로 저장하기

In [3]:
df.to_csv('samsung.csv', encoding = 'utf-8-sig') #df를 csv로 samsung.csv로 저장

## CSV 파일 불러오기

In [5]:
df2 = pd.read_csv('samsung.csv')
df2

   Unnamed: 0     종가    전일비  등락률(%)     시가     고가     저가       거래량
0  2022-03-10  71200  ▲1700    2.45  70800  71200  70500  21354798
1  2022-03-08  69500   ▼600   -0.86  68800   7000  68700  15828269
2  2022-03-07  70100  ▼1400   -1.96  70000  70600  69900  18617138
3  2022-03-04  71500  ▼1400   -1.92  72700  72700  71200  13409634
4  2022-03-03  72900  ▲1200    1.67  72300  73100  72200  13232638
5  2022-03-02  71700   ▼400   -0.55  72300  72400  71500  12481430

In [18]:
df3 = pd.read_csv('bus.csv', encoding = 'cp949', low_memory = False)
df3

,사용년월,노선번호,노선명,표준버스정류장ID,버스정류장ARS번호,역명,00시승차총승객수,00시하차총승객수,1시승차총승객수,1시하차총승객수,...,19시하차총승객수,20시승차총승객수,20시하차총승객수,21시승차총승객수,21시하차총승객수,22시승차총승객수,22시하차총승객수,23시승차총승객수,23시하차총승객수,등록일자
0,202202,470,470번(상암차고지~안골마을),100000001,1001,종로2가사거리,6,61,0,0,...,231,220,155,241,144,171,111,50,34,20220303
1,202202,N37,N37번(진관공영차고지~송파공영차고지),100000001,1001,종로2가사거리,0,0,0,0,...,0,0,0,0,0,0,0,0,0,20220303
2,202202,N37,N37번(송파공영차고지~진관공영차고지),100000001,1001,종로2가사거리,2,7,45,68,...,0,0,0,0,0,0,0,0,0,20220303
3,202202,741,741번(진관차고지~헌인릉입구),100000001,1001,종로2가사거리,19,58,4,41,...,245,248,113,256,140,174,96,100,78,20220303
4,202202,100,100번(하계동~용산구청),100000002,1002,창경궁.서울대학교병원,0,0,0,0,...,16,41,14,44,30,22,19,12,5,20220303
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39077,202202,672,672번(방화동~이대후문),999800002,~,김포교통(종점가상),0,0,0,0,...,0,0,0,1,2,0,0,0,0,20220303
39078,202202,9404,9404번(분당구미~신사역),999800003,~,구미동차고지(기점가상),0,0,0,0,...,1,0,1,0,5,0,0,0,2,20220303
39079,202202,9404,9404번(분당구미~신사역),999800004,~,구미동차고지(종점가상),0,2,0,3,...,1,0,4,0,3,0,9,0,5,20220303
39080,202202,9701,9701번(가좌동~서울역),999800005,~,가좌동종점(종점가상),0,1,0,0,...,0,0,2,0,1,0,1,0,1,20220303
39081,202202,9707,9707번(고양 가좌동~영등포역),999800005,~,가좌동종점(종점가상),0,4,0,4,...,2,0,1,0,1,0,1,0,4,20220303